body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
.container {
    max-width: 88%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}
.dashboard, .terminal {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}
h1 {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}
th {
    background-color: #007BFF;
    color: #fff;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #00247D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button img {
    margin-right: 5px;
}
button:hover {
    background-color: #0056b3;
}
#chart-container {
    width: 100%;
    height: 400px;
}
#terminal {
    background-color: #000;
    color: rgb(255, 251, 0);
    padding: 10px;
    border-radius: 8px;
    height: 400px;
    overflow-y: auto;
    white-space: pre-wrap;
}
@media (max-width: 940px) {
    button {
        padding: 15px;
    }
    button span {
        display: none;
    }
    button img {
        margin-right: 0;
    }
}